body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Largura fixa para desktop */
}

.login-container h2 {
  margin-bottom: 1.5rem;
  color: #2d3436;
  font-size: 1.6rem;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
  color: #636e72;
}

.input-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2980b9;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 48%;
}

button:hover {
  background-color: #3498db;
  transform: translateY(-2px);
}

button.login-btn {
  background-color: #2ecc71;
}

button.login-btn:hover {
  background-color: #27ae60;
}

/* Ajustes específicos para dispositivos móveis */
@media (max-width: 768px) {
  .login-container {
    padding: 1.5rem;
    width: 90%; /* Aumenta a largura para dispositivos móveis */
    max-width: 400px; /* Ajusta o máximo para um tamanho maior no mobile */
  }

  .input-group input {
    font-size: 16px;
    padding: 14px; /* Aumenta o padding dos inputs */
  }

  .login-container h2 {
    font-size: 1.4rem; /* Ajusta o tamanho do título para telas menores */
  }

  .button-container {
    flex-direction: column; /* Organiza os botões em coluna */
    gap: 10px; /* Adiciona espaçamento entre os botões */
  }

  button {
    width: 100%; /* Botões ocupam 100% da largura em telas menores */
    padding: 14px; /* Aumenta o padding dos botões */
  }
}
