.cadastro-box, .login-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: 50px auto; 
}

.cadastro-box h2, .login-box h2 {
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  font-weight: bold;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%; 
  box-sizing: border-box; 
}

.cadastro-btn, .login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #7cb490; 
  transition: background-color 0.3s ease;
}

.cadastro-btn:hover, .login-btn:hover {
  opacity: 0.8;
}


@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
  }

  .cadastro-box, .login-box {
    width: 95%;  
    margin: 0;
    padding: 1.5rem;
  }

  .input-group input {
    font-size: 16px;
    padding: 12px; 
  }

  .cadastro-btn, .login-btn {
    font-size: 18px;  
    padding: 12px;
  }
}
